<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Arduino</title>

    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Source+Code+Pro&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/reset.css">

</head>

<body>
    <header class="header">
        <h1 href="">Interação Arduino</h1>
    </header>    

    <section class="section">
        <div class="container"> 
            <button id="b1" class="button">Padrão 1</button>
            <button id="b2" class="button">Padrão 2</button>
            <button id="b3" class="button">Padrão 3</button>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascript/main.js"></script>
</body>

</html>